// Colors
$black: 		rgb(10, 10, 10) 	!default;
$black-light:   rgb(30, 30, 30) 	!default;
$black-lighter: rgb(40, 40, 40) 	!default;

$gray-darker:   rgb(60, 60, 60) 	!default;
$gray-dark:     rgb(75, 75, 75) 	!default;
$gray:     		rgb(110, 110, 110) 	!default;
$gray-light: 	rgb(130, 130, 130) 	!default;
$gray-lighter: 	rgb(160, 160, 160) 	!default;
$gray-lightest: rgb(200, 200, 200) 	!default;

$white: 		rgb(255, 255, 255) 	!default;
$white-dark: 	rgb(240, 240, 240) 	!default;
$white-darker: 	rgb(235, 235, 235) 	!default;

$orange: 		rgb(255, 137, 59) 	!default;
$red: 			rgb(255, 59, 56) 	!default;
$yellow: 		rgb(255, 235, 56) 	!default;
$green-dark: 	rgb(39, 150, 84) 	!default;
$green-light: 	rgb(59, 255, 56) 	!default;
$lime: 			rgb(87, 255, 45) 	!default;
$cyan: 			rgb(59, 255, 248) 	!default;
$blue: 			rgb(59, 144, 255) 	!default;
$blue-dark: 	rgb(0, 70, 161) 	!default;
$purple: 		rgb(169, 48, 255) 	!default;
$pink: 			rgb(255, 92, 228) 	!default;

// Typography
$family-sans-serif: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif !default;
$family-monospace: monospace !default;

$sizes: (
	'size1'  : '3rem',
	'size2'  : '2.75rem',
	'size3'  : '2.5rem',
	'size4'  : '2.25rem',
	'size5'  : '2rem',
	'size6'  : '1.75rem',
	'size7'  : '1.5rem',
	'size8'  : '1.25rem',
	'size9'  : '1rem',
	'size10' : '0.75rem'
) !default;

$weight-light: 	  300 !default;
$weight-normal:   400 !default;
$weight-medium:   500 !default;
$weight-semibold: 600 !default;
$weight-bold: 	  700 !default;

$text-align: ('centered':'center', 'left-aligned':'left', 'right-aligned':'right', 'justified':'justify');

// Spacing
$spacing: ('hairline':'2px', 'thin':'5px', 'medium':'10px', 'thick':'20px', 'thicker':'30px', 'thickest':'40px');
