.is-position-relative {
	position: relative;
}

.is-position-absolute {
	position: absolute;
}

.is-position-fixed {
	position: fixed;
}

.is-position-sticky {
	position: -webkit-sticky;
	position: sticky;
}
