// Font family
$content-font: 'Montserrat', sans-serif;
$header-font: 'Baloo', sans-serif;
$mono: 'Courier Prime', monospace;

// Colors
$blue: #31A6F0;
$blue-light: #e2f0ff;
$blue-lighter: #f2f8ff;
$gray: #f1f3f4;
$black: #323232;
